{% if tiny_url %}
    TinyUrl has been generated!
    <input type="text" value={{ tiny_url }}></input>
    <br />
    <a href="{% url 'index:redirection' tiny_url %}">Test redirection</a>
    <a href="{% url 'index:detail' tiny_url %}">Url detail page</a>

{% endif %}

Create your TinyUrl:

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'index:generate' %}" method="post">
{% csrf_token %}
    <input type="text" name="destination_url" value="http://alatar.eu" placeholder="Type destination URL address..." />
<input type="submit" value="Generate!" />
</form>
