{% extends 'index/base.html' %}

{% block content %}
    <div class="fill-height">
        <div class="container">
            <div class="row text-center">            
                <h1>TinyURL <small>shorten your links.</small></h1>
            </div>

            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 col-md-offset-3 col-lg-offset-3 col-lg-6 col-lg-offset-3">
                <div class="row">
                    <form action="{% url 'index:generate' %}" method="post">
                        <div class="form-group">
                            <!-- <label for="destinationUrl" class="control-label">Paste the URL to be shortened</label> -->
                            <input type="text" class='form-control input-lg' id="destinationUrl" name="destination_url" placeholder="Paste the URL to be shortened...">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger custom-alert">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group text-center">
                            <!-- <div class="col-xs-offset-2 col-xs-10"> -->
                                <button type="submit" class="btn btn-primary btn-lg">SHORTEN</button>
                            <!-- </div> -->
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            
                <div class="row">
                    {% for url in urls %}
                    <div class="panel custom-panel">
                        <div class="panel-body">
                            <a class="tiny-url" href="{% url 'index:redirection' url %}">{{ request.get_host }}{% url 'index:redirection' url %}</a>
                            <button class="btn btn-sm">Copy</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock content %}